li {
    list-style: none;
    width: 90%;
    padding: 5px;
}

#tweet {
    width: 100%;
}

#btn_guardar {
    margin: 10px auto;
    width: 100%;
}

#mensajes {
    text-align: center;
    margin: auto;
    display: block;
}

.btnEliminar {
    color: red;
    float: right;
    cursor: pointer;
    font-size: 20px !important;
}

.tw {
    color: #00acee;
}